body {
    margin: 0;
    padding: 0;

    background-color: #ddd;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
    margin-top: 15px;
}

.sub-btn-big{
    vertical-align: top;
}

.sub-btn-small{
    display: none;
}

.form input {
    width: 40vw;
    height: 2em;
    font-size: 1em;
}

.form button {
    width: 15vw;
    height: 2.7em;
}

.happy-container {
    display: grid;

    align-items: center;
    
    grid-template-columns: repeat(4, 20vw);

    width: auto;
    background-color: #fff;

    margin: 5px;
    padding: 10px;

    border: 1px solid black;
    border-radius: 10px;
}

.seratonin-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.box-container {
    margin: 2px;
}

.box {
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    width: 1em;
    height: 1em;
    margin-right: 1px;
}

.btns-container{
    width: auto;
    text-align: right;
}

.btn {
    width: 2rem;
    height: 2rem;
    margin: 0px 2px;
    border: 1px solid black;
}

.btn:hover {
    background-color: darkgray;
    cursor: pointer;
}

.del-btn {
    background-color: red;
}

.del-btn:hover {
    background-color: #D00;
}

@media (max-width: 1270px){
    .box-container{
        max-width: 75px;
    }

    .box{
        width: 0.75em;
        height: 0.75em;
    }
}

@media (max-width: 720px){
    .form{
        position: fixed;
        bottom: 10px;

        display: flex;
        align-items: baseline;
    }

    .form input{
        width: 75vw
    }

    .form button{
        width: minmax(25vw, auto);
    }

    .sub-btn-small{
        display: inline;
    }

    .sub-btn-big{
        display: none;
    }

    .happy-container{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, 40vw);

        justify-items: space-between; 
    }

    .emotion{
        text-align: right;
    }

    .seratonin-container{
        justify-content: left;
    }

    .btn{
        width: 1.5rem;
        height: 1.5rem;
        font-size: smaller;
    }

    .box-container{
        max-width: 105px;
    }
    
    .box{
        width: 0.5em;
        height: 0.5em;
    }
}

@media (max-width: 445px){
    .box-container{
        max-width: 53px;
    }
}